.client__card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  gap: .5rem;
  padding: .3rem 0;

  max-width: 100%;

  border-bottom: 1.5px solid var(--color-black-primary);
  word-break: break-all;
}

.client__card > div {
  display: flex;
  gap: 1.5rem;
}

@media (min-width: 350px) {
  .client__card {
    min-width: 200px;
  }
}