.header__container {
  height: 4.625rem;
  box-shadow: 0px 0px 16px 2px var(--color-black-secondary);
}

.header__container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;

  height: 100%;
}

.register__button {
  display: flex;
  align-items: center;

  padding-block: .3rem;
  padding-inline: clamp(.5rem, 5vw, 1rem);
  gap: clamp(.3rem, 5vw, 1rem);

  background-color: transparent;

  border: 1px solid var(--color-black-secondary);
  border-radius: 4px;

  cursor: pointer;
  transform: scale(.8);

  transition: ease 1s;
  outline: none;
}

.register__button:hover {
  transform: scale(1);
}

.register__button > svg {
  width: 25px;
  height: 25px;
}