.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
  max-width: 100%;

  gap: clamp(1rem, 5vw, 2.5rem);
  padding-block: clamp(1rem, 5vw, 2rem);

  word-break: break-all;
  word-wrap: break-word;
}